@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

body {
    background-color: #36393e;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1a1c1f;
    height: 58px;
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
}

.titulo-pagina {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.titulo-pagina h2 {
    font-family: 'Audiowide';
    font-size: 2rem;
}

header img {
    width: 50px;
}

.navbar {
    display: block;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.2rem;
    gap: 2rem;
}

.navbar a{
    color: #adabab;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover{
    color: #007375;
}

.usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #424549;
}

.user-img img{
    width: 35px;
}

/* Main */
main {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

/* Hero */
#hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 70%;
    margin-bottom: 4rem;
}

.hero-info {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    width: 50%;
    height: 25rem;
}

.hero-info h1 {
    margin-top: 2rem;
    font-size: 50px;
    margin-bottom: 2.4rem;
    color: #099da0;
    text-shadow: 6px 6px 20px #282b30;
}

.hero-info p {
    margin-left: 1.4rem;
    width: 90%;
    align-self: normal;
    font-size: 17px;
    margin-bottom: 2rem;
}

.hero-info button {
    margin-left: 1.4rem;
    align-self: normal;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #007375;
    box-shadow: 6px 6px 20px #282b30;
    transition: transform 0.4s ease;
}

.hero-info button:hover {
    transform: scale(0.9);
}

.hero-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27rem;
    height: 27rem;
    background: #424549;
    border-radius: 1rem;
    box-shadow: 6px 6px 20px #282b30;
}

.card-img {
    display: flex;
    flex-wrap: wrap;
    width: 24rem;
    height: 24rem;
    border: .5px solid black;
}

.card-img img {
    width: 12rem;
    transition: transform 0.5s ease;
}

.card-img img:hover {
    transform: scale(1.05);
}

/* About */
#about {
    color: white;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us h1 {
    font-size: 30px;
    color: #099da0;
}

.about-us p {
    width: 43%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

main h2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #099da0;
}

.cajas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}


.caja-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-height: 300px;
    background-color: #424549;
    border-radius: 1.6rem;
    box-shadow: 6px 6px 20px #282b30;
    color: white;
}

.caja-info img {
    width: 40px;
    height: 40px;
}

.info-info {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-info h3 {
    color: #13b2b4;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.caja-info p {
    width: 80%;
    text-align: center;
}

.lucide {
    color: white;
    width: 40px;
    height: 40px;
    fill: none;
    stroke-linecap:round; 
    stroke-linejoin:round;
    transition: color .4s ease;
}

.lucide:hover{
    color: #099da0;
}


